
body{
    margin: 0;}


h1 a{
        text-decoration: none;
        color: antiquewhite;    
        text-align: center;
    }    

    h1 a:hover{
        background-color: rgb(238, 102, 23);
    
    
    }  

.main {

        width : 100%;
       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: fixed;
        background-color: rgb(3, 3, 190);
        color: antiquewhite;
        text-decoration: none;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 0px;



    }
  
.logo{
        margin-left: 20px;
        height: 80px;
        width: 80px;
        margin-bottom: 15px;
        float:left;
}

.parallax{
        background-image: url("img/kv3.jpg");
        min-height: 600px;
        background-attachment: fixed;
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
}

ul{

    overflow: hidden;
    background-color: rgb(231, 124, 53);
    list-style-type: none;
    margin: 0;
    padding: 3px;
    width: 100%;
}

li{
    float : left;
    width: auto;
}

li a {
    
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color: rgb(85, 7, 59);

}

li a:hover{
background-color: rgb(75, 224, 100);
}


.intro{
    background-color: rgb(3, 3, 190);
    color:rgb(44, 219, 132);
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


section{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    background-color: aquamarine;



}

h2 {
    text-align: center;
    color: rgb(10, 41, 88);
    line-height:20px;
  }


article{
    flex:300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    color: rgb(10, 41, 88);
    font: 18px;
    padding: 15px;
    margin: 15px;

}

.footer{

    overflow: hidden;
    background-color:rgb(85, 127, 153);
    font-size: 20px;
    list-style-type: none;
    margin: 0px;
    padding: 3px;
    height:20% ;
    text-align: center;
}


@media only screen and (max-width: 600px) {

ul{

    overflow: hidden;
    background-color:rgb(240, 145, 56);
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {width: 100%;
    font-size: 15px;
}


    article{
    width: 100;

    }    
.logo{
    width: 40px;
height: 50px;    float:left;
}
  }
